<div class="jumbotron">
    <h1 class="main-title">News Summarizer</h1>
    <p>Get a glimpse of the day's top news stories in under 2 minutes!!!</p>
    <p>For daily email digests, hit the subscribe button!!</p>
    <button class="btn btn-primary btn-lg" ng-click="playDigest()">Play Today's Digest</button>
</div>