<div class="jumbotron">
    <h1 class="main-title">News Summarizer</h1>
    <p>Get a glimpse of the day's top news stories in under 2 minutes.
    Read summarized version of the best news articles from across categories!!</p>
    <button class="btn btn-primary btn-lg" ng-click="playDigest()">Autoplay Digest</button>
</div>