<h2 class="main-title">Top Stories</h2>
<div class="news-detail">
  <% @articles.each do |article| %>
    <div class="news-article border">      
      <div>
        <img src=<%= article.img %> class="article-img pull-left">
      </div>
      <div>
        <h3 class="article-title"><%= article.title %></h3>
        <p class="article-text"><%= article.summary %></p>
        <small class="source">Read more at <a href=<%= article.url %>>The Hindu</a></small>
      </div>
    </div>      
  <% end %>
</div>