<div class="your-clock">
  <p>Your next digest in 06h:23m:34s</p>
</div>
<div id="old_digests">
  <h3>Previous Digests</h3>
  <ul list-style-type: none>
    <li>
      <a href="#" class="link">July 11</a>
    </li>
    <li>
      <a href="#" class="link">July 10</a>
    </li>
  </ul>
</div>