<div id="content" class="container" ng-controller="ArticleCtrl">  
  <div class="row">
    <div class="col-md-8">
      <div class="main-content-area">
        <div class="col-md-9 col-md-offset-1">
          <div class="main-heading">
            <h2 class="title">New Article</h2>
          </div>
          <%= render "form" %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="side-content-area">
        <%= render "partials/summary" %>
      </div>
    </div>
  </div>
</div>