<div id="content" class="container" ng-controller="ArticleCtrl">  
  <div class="row">
    <div class="col-md-8">
      <div class="main-content-area">
        <div class="col-md-9 col-md-offset-1">
          <div class="main-heading">
            <h2 class="title"><%= @article.title %></h2>
          </div>
          <blockquote><%= h(@article.content).gsub(/\n/, '<br/>').html_safe%></blockquote>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="side-content-area">
        <h2 class="title">Summary</h2>
        <blockquote><%= h(@article.summary).gsub(/\n/, '<br/>').html_safe%></blockquote>
      </div>
    </div>
  </div>
</div>