<div class="article" ng-show="state=='processed'">
  <h2>{{article.title}}</h2>
  <blockquote>{{article.content}}</blockquote>
  <button type="submit" class="btn" ng-click="onReset()">Try Again</button>
</div>