/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require_tree .
 *= require font-awesome
 *= require flipclock
 */

@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:300);
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:700);
@import url(http://fonts.googleapis.com/css?family=Vollkorn);

body {
  #background-color: #FFF0E0;
}

#footer {
  position: relative;
  margin-bottom: -50px;
  height: 150px;
  clear:both;
  padding-top: 100px;
}

#navbar {
  background: transparent;
  .container-fluid {
    background: transparent;
    .navbar-collapse {
      margin-top: 50px;
      margin-left: 200px;
      margin-right: 200px;
    }
  }
  
}

#navbar .navbar-nav > li > a {
  font-size: 20px;
  font-family: 'Vollkorn', Georgia, Times, serif;
  
}

#navbar .navbar-nav > li > a:hover {
  border-bottom: dashed 1px red;
}


.navbar-brand > img {
  width: 100px;
  height: 50px;
  margin-left: 100px;
  margin-top: 30px;
}

.main-heading { 
  margin-top:30px;
  text-align: left;
 }

 