<div id="footer">
  <div class="container text-center">
    <ul class="nav nav-pills">
      <li><a href="#">About Us</a></li>
      <li><a href="#">Disclaimer</a></li>
      <li><a href="#">How it works!</a></li>
    </ul>
  </div>
</div>