<nav class="navbar navbar-default" role="navigation" id="navbar">
  
  <div class="container-fluid">
    <div class="collapse navbar-collapse"> 
      <span class="navbar-brand text-center">News Summary</span>     
      <ul class="nav navbar-nav navbar-right">
        <li>
          <form class="navbar-form navbar-left" role="form">
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Enter email">
            </div>
            <a href="#" class="btn btn-primary">Subscribe</a>
          </form>
      </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>